<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="agileits-navi_search">
					<form action="#" method="post">
						<select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
							<option value="">Tất cả danh mục</option>
							<option value="Televisions">Ti vi</option>
							<option value="Headphones">Tai nghe</option>
							<option value="Computers">Máy tính</option>
							<option value="Appliances">Thiết bị</option>
							<option value="Mobiles">Di động</option>
							<option value="Fruits &amp; Vegetables">Tv &amp; Video</option>
							<option value="iPad & Tablets">iPad & Máy tính bảng</option>
							<option value="Cameras & Camcorders">Máy ảnh & Máy ghi hình</option>
						</select>
					</form>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-center mr-xl-5">
						<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="index.html">Home
								<span class="sr-only">(Hiện tại)</span>
							</a>
						</li>
						<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Electronics
							</a>
							<div class="dropdown-menu">
								<div class="agile_inner_drop_nav_info p-4">
									<h5 class="mb-3">Di động, Máy tính</h5>
									<div class="row">
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product.html">Tất cả điện thoại di động</a>
												</li>
												<li>
													<a href="product.html">Tất cả linh kiện điện thoại</a>
												</li>
												<li>
													<a href="product.html">Vỏ và ốp lưng</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product.html">Laptops</a>
												</li>
												<li>
													<a href="product.html">Ổ đĩa & Lưu trữ</a>
												</li>
												<li>
													<a href="product.html">Máy in</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Thiết bị
							</a>
							<div class="dropdown-menu">
								<div class="agile_inner_drop_nav_info p-4">
									<h5 class="mb-3">TV, Thiết bị, Đồ điện tử</h5>
									<div class="row">
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product2.html">Ti vi</a>
												</li>
												<li>
													<a href="product2.html">Tai nghe</a>
												</li>
												<li>
													<a href="product2.html">Loa</a>
												</li>
												<li>
													<a href="product2.html">MP3, Máy nghe nhạc & phụ kiện</a>
												</li>
												<li>
													<a href="product2.html">Máy ảnh</a>
												</li>
												<li>
													<a href="product2.html">Phụ kiện máy ảnh</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product2.html">Nhạc cụ</a>
												</li>
												<li>
													<a href="product2.html">Gaming Consoles</a>
												</li>
												<li>
													<a href="product2.html">Điều hòa</a>
												</li>
												<li>
													<a href="product2.html">Tủ lạnh</a>
												</li>
												<li>
													<a href="product2.html">Máy giặt</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="about.html">Về chúng tôi</a>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="product.html">Mẫu mới</a>
						</li>
						<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Các trang
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="products">Danh sách sản phẩm</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="products/Samsung">Danh sách sản phẩm Samsung</a>
								<a class="dropdown-item" href="products/Apple">Danh sách sản phẩm Apple</a>
								<a class="dropdown-item" href="products/Oppo">Danh sách sản phẩm Oppo</a>
								<a class="dropdown-item" href="products/Xiaomi">Danh sách sản phẩm Xiaomi</a>
								<a class="dropdown-item" href="products/Asus">Danh sách sản phẩm Asus</a>
								<a class="dropdown-item" href="products/Google">Danh sách sản phẩm Google</a>
								<a class="dropdown-item" href="products/Motorola">Danh sách sản phẩm Motorola</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="checkout.html">Checkout Page</a>
								<a class="dropdown-item" href="payment.html">Payment Page</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Liên hệ chúng tôi</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->