<div class="container">
    <h1>Your email has been verified!</h1>
    {{!-- <div>You will be redirected within a few seconds,<br>
        <a href="/users/login">or click here to continue</a>
    </div> --}}
    <a href="/users/login">click here to continue</a>
</div>