<body>   
    <!-- banner-2 -->
    <div class="page-head_agile_info_w3l">
        
    </div>
    <!-- //banner-2 -->

    <!-- page -->
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <div class="container">
                <ul class="w3_short">
                    <li>
                        <a href="index.html">Home</a>
                        <i>|</i>
                    </li>
                    <li>Kiểm tra giỏ hàng</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //page -->

    <!-- checkout page -->
    <div class="privacy py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <!-- tittle heading -->
            <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
                <span>Giỏ hàng</span>
            </h3>
            <!-- //tittle heading -->
            <div class="checkout-right">
                <h4 class="mb-sm-4 mb-3">Giỏ hàng của bạn gồm:
                    <span>3 Sản phẩm</span>
                </h4>
                <div class="table-responsive">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Tên sản phẩm</th>
                                
                                <th>Giá</th>
                                <th>Bỏ chọn</th>
                            </tr>
                        </thead>
                        <tbody id="cartTable">
                            {{!-- row 1 --}}
                            {{!-- <tr class="rem1">
                                <td class="invert">1</td>
                                <td class="invert-image">
                                    <a href="single.html">
                                        <img src="images/a.jpg" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus">&nbsp;</div>
                                            <div class="entry value">
                                                <span>1</span>
                                            </div>
                                            <div class="entry value-plus active">&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">Ốp lưng</td>
                                <td class="invert">$259</td>
                                <td class="invert">
                                    <div class="rem">
                                        <div class="close1"> </div>
                                    </div>
                                </td>
                            </tr> --}}

                            {{!-- row 2 --}}
                            {{!-- <tr class="rem2">
                                <td class="invert">2</td>
                                <td class="invert-image">
                                    <a href="single2.html">
                                        <img src="images/a4.jpg" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus">&nbsp;</div>
                                            <div class="entry value">
                                                <span>1</span>
                                            </div>
                                            <div class="entry value-plus active">&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">Tông đơ không dây</td>
                                <td class="invert">$1,999</td>
                                <td class="invert">
                                    <div class="rem">
                                        <div class="close2"> </div>
                                    </div>
                                </td>
                            </tr> --}}

                            {{!-- row 3 --}}
                            {{!-- <tr class="rem3">
                                <td class="invert">3</td>
                                <td class="invert-image">
                                    <a href="single.html">
                                        <img src="images/a3.jpg" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus">&nbsp;</div>
                                            <div class="entry value">
                                                <span>1</span>
                                            </div>
                                            <div class="entry value-plus active">&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">Máy chụp ảnh Nikon</td>
                                <td class="invert">$37,490</td>
                                <td class="invert">
                                    <div class="rem">
                                        <div class="close3"> </div>
                                    </div>
                                </td>
                            </tr> --}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="checkout-left">
                <div class="address_form_agile mt-sm-5 mt-4">
                    <h4 class="mb-sm-4 mb-3">Thêm chi tiết cho đơn hàng</h4>
                    <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                        <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                            <div class="information-wrapper">
                                <div class="first-row">
                                    <div class="controls form-group">
                                        <input class="billing-address-name form-control" type="text" name="name" placeholder="Full Name" required="">
                                    </div>
                                    <div class="w3_agileits_card_number_grids">
                                        <div class="w3_agileits_card_number_grid_left form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Mobile Number" name="number" required="">
                                            </div>
                                        </div>
                                        <div class="w3_agileits_card_number_grid_right form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Landmark" name="landmark" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="controls form-group">
                                        <input type="text" class="form-control" placeholder="Town/City" name="city" required="">
                                    </div>
                                    <div class="controls form-group">
                                        <select class="option-w3ls">
                                            <option>Chọn kiểu địa chỉ</option>
                                            <option>Văn phòng</option>
                                            <option>Nhà</option>
                                            <option>Thương mại</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <button class="submit check_out btn">Delivery to this Address</button>
                            </div>
                        </div>
                    </form>
                    <div class="checkout-right-basket">
                        <a href="payment.html">Thực hiện thanh toán
                            <span class="far fa-hand-point-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //checkout page -->
    
    {{>middle-section}}
    
    
    <!-- js-files -->
	{{>jquery}}
	{{>nav-smooth-scroll}}
	{{>popup-modal}}
	{{>cart-js}}
	{{>password-script}}
    
    <!-- quantity -->
    <script>
        $('.value-plus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
            newVal = parseInt(divUpd.text(), 10) + 1;
            divUpd.text(newVal);
        });
        
        $('.value-minus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
            newVal = parseInt(divUpd.text(), 10) - 1;
            if (newVal >= 1) divUpd.text(newVal);
        });
    </script>
    <!--quantity-->

    <script>
        $(document).ready(function (c) {
            $('.close1').on('click', function (c) {
                $('.rem1').fadeOut('slow', function (c) {
                    $('.rem1').remove();
                });
            });
        });
    </script>

    <script>
        $(document).ready(function (c) {
            $('.close2').on('click', function (c) {
                $('.rem2').fadeOut('slow', function (c) {
                    $('.rem2').remove();
                });
            });
        });
    </script>

    <script>
        $(document).ready(function (c) {
            $('.close3').on('click', function (c) {
                $('.rem3').fadeOut('slow', function (c) {
                    $('.rem3').remove();
                });
            });
        });
    </script>
    <!-- //quantity -->
    
    {{>smoothscroll}}
    
    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
    
    {{>AddToCartButtonScript}}

    <script>
        let cartData = JSON.parse(localStorage.getItem('MYFUKINGWOWCART'));

        document.addEventListener('DOMContentLoaded', () => {
            //when the page is ready
            //getProducts(showProducts, errorMessage);

            //get the cart items from localStorage
            CART.init();

            //load the cart items
            showCart();
        });

        function showCart(){
            let cartTable = document.getElementById('cartTable');
            
            //reset table
            cartTable.innerHTML='';


            //each products
            for(let i = 0; i < cartData.length; i++){

                console.log('Run ' + i + ' time')
                /*create a table row for each product*/

                //<tr>
                let tr = document.createElement("TR");
                tr.setAttribute('class',`rem${i+1}`);
                tr.setAttribute('id',`tr-${cartData[i].id}`);
                cartTable.appendChild(tr);// </tr>

                //=td1
                let td1 = document.createElement("TD");
                td1.setAttribute('id',`td1-${cartData[i].id}`);
                td1.innerHTML = `${i+1}`
                td1.setAttribute('class','invert');
                document.getElementById(`tr-${cartData[i].id}`).appendChild(td1);

                //=td2
                let td2 = document.createElement("TD");
                td2.setAttribute('id',`td2-${cartData[i].id}`);
                td2.setAttribute('class','invert-image');
                document.getElementById(`tr-${cartData[i].id}`).appendChild(td2);

                //==a
                let td2_a = document.createElement("A");
                td2_a.setAttribute('id',`td2-a-${cartData[i].id}`);
                td2_a.setAttribute('href',`/products/${cartData[i].brand}/${cartData[i].id}`);
                document.getElementById(`td2-${cartData[i].id}`).appendChild(td2_a);

                //===img
                let td2_a_img = document.createElement("IMG");
                td2_a_img.setAttribute('src',`${cartData[i].imgURL}`);
                td2_a_img.setAttribute('class','img-responsive');
                document.getElementById(`td2-a-${cartData[i].id}`).appendChild(td2_a_img);
                //close td2
                
                //=td3
                let td3 = document.createElement("TD");
                td3.setAttribute('id',`td3-${cartData[i].id}`)
                td3.setAttribute('class','invert');
                document.getElementById(`tr-${cartData[i].id}`).appendChild(td3);

                //==div.quantity td3_div1
                let td3_div1 = document.createElement("DIV");
                td3_div1.setAttribute('id',`td3-div1-${cartData[i].id}`)
                td3_div1.setAttribute('class','quantity')
                document.getElementById(`td3-${cartData[i].id}`).appendChild(td3_div1);

                //==div.quantity-select td3_div1_div1
                let td3_div1_div1 = document.createElement("DIV");
                td3_div1_div1.setAttribute('id',`td3-div1-div1-${cartData[i].id}`)
                td3_div1_div1.setAttribute('class','quantity-select')
                document.getElementById(`td3-div1-${cartData[i].id}`).appendChild(td3_div1_div1);

                //==div.entry value-minus td3_div1_div1_div1
                let td3_div1_div1_div1 = document.createElement("DIV");
                td3_div1_div1_div1.setAttribute('id',`td3-div1-div1-div1-${cartData[i].id}`)
                //td3_div1_div1_div1.setAttribute('class','entry value-minus')
                td3_div1_div1_div1.innerHTML = '&nbsp';
                document.getElementById(`td3-div1-div1-${cartData[i].id}`).appendChild(td3_div1_div1_div1);

                //==div.entry value td3_div1_div1_div2
                let td3_div1_div1_div2 = document.createElement("DIV");
                td3_div1_div1_div2.setAttribute('id',`td3-div1-div1-div2-${cartData[i].id}`)
                td3_div1_div1_div2.setAttribute('class','entry value')
                document.getElementById(`td3-div1-div1-${cartData[i].id}`).appendChild(td3_div1_div1_div2);

                //==span td3_div1_div1_div2_span
                let td3_div1_div1_div2_span = document.createElement("SPAN");
                td3_div1_div1_div2_span.innerHTML = cartData[i].qty;
                document.getElementById(`td3-div1-div1-div2-${cartData[i].id}`).appendChild(td3_div1_div1_div2_span);



                let td4 = document.createElement("TD");
                td4.setAttribute('id',`td4-${cartData[i].id}`)
                td4.setAttribute('class','invert');
                td4.innerHTML = cartData[i].name;
                document.getElementById(`tr-${cartData[i].id}`).appendChild(td4);


                let td5 = document.createElement("TD");
                td5.setAttribute('id',`td5-${cartData[i].id}`)
                td5.setAttribute('class','invert');
                td5.innerHTML = `$${cartData[i].price}`;
                document.getElementById(`tr-${cartData[i].id}`).appendChild(td5);

                //=td6
                let td6 = document.createElement("TD");
                td6.setAttribute('id',`td6-${cartData[i].id}`)
                td6.setAttribute('class','invert');
                document.getElementById(`tr-${cartData[i].id}`).appendChild(td6);

                //==div.rem td6_div1
                let td6_div1 = document.createElement("DIV");
                td6_div1.setAttribute('id',`td6-div1-${cartData[i].id}`)
                td6_div1.setAttribute('class','rem')
                document.getElementById(`td6-${cartData[i].id}`).appendChild(td6_div1);

                //==div.close[i] td6_div1_div1
                let td6_div1_div1 = document.createElement("DIV");
                td6_div1_div1.setAttribute('id',`td6-div1-div1-${cartData[i].id}`)
                td6_div1_div1.setAttribute('class',`close${i+1}`)
                document.getElementById(`td6-div1-${cartData[i].id}`).appendChild(td6_div1_div1);
            }
        }


    </script>

</body>