<tr class="rem3">tr
    <td class="invert">3</td>td1
    <td class="invert-image">td2
        <a href="single.html">
            <img src="images/a3.jpg" alt=" " class="img-responsive">
        </a>
    </td>
    <td class="invert">td3
        <div class="quantity">td3_div1
            <div class="quantity-select">td3_div1_div1
                <div class="entry value-minus">&nbsp;</div>td3_div1_div1_div1
                <div class="entry value">td3_div1_div1_div2
                    <span>1</span>td3_div1_div1_div2_span
                </div>
                <div class="entry value-plus active">&nbsp;</div>td3_div1_div1_div3
            </div>
        </div>
    </td>
    <td class="invert">Máy chụp ảnh Nikon</td>td4
    <td class="invert">$37,490</td>td5
    <td class="invert">td6
        <div class="rem">td6-div1
            <div class="close3"> </div>td6-div1-div1
        </div>
    </td>
</tr>