<body>
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->

	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Sản phẩm 2</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits py-5">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>S</span>ingle
				<span>P</span>age</h3>
			<!-- //tittle heading -->
			<div class="row">
				<div class="col-lg-5 col-md-8 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider">
							<ul class="slides">
								<li data-thumb="images/sii1.jpg">
									<div class="thumb-image">
										<img src="images/sii1.jpg" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
								<li data-thumb="images/sii2.jpg">
									<div class="thumb-image">
										<img src="images/sii2.jpg" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
								<li data-thumb="images/sii3.jpg">
									<div class="thumb-image">
										<img src="images/sii3.jpg" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-7 single-right-left simpleCart_shelfItem">
						<h3 class="mb-3">Tủ lạnh LG 2 ngăn</h3>
						<p class="mb-3">
						<span class="item_price">$220.00</span>
						<del class="mx-2 font-weight-light">$250.00</del>
						<label>Miễn phí vận chuyển</label>
					</p>
					<div class="single-infoagile">
						<ul>
								<li class="mb-3">
								Thanh toán khi nhận hàng.
							</li>
							<li class="mb-3">
								Giao hàng nhanh.
							</li>
							<li class="mb-3">
								EMI chỉ từ 958$.
							</li>
							<li class="mb-3">
								3 đề nghị từ
								<span class="item_price">$220.00</span>
							</li>
						</ul>
					</div>
					<div class="product-single-w3l">
							<p class="my-3">
									<i class="far fa-hand-point-right mr-2"></i>
							Miễn phí lặp đặt tiêu chuẩn trong vòng
							<label>48 giờ</label> giao hàng</p>
						<ul>
								<li class="mb-1">
									Frost Free Double Door: Tự động rã đông để ngừng đóng băng
							</li>
							<li class="mb-1">
								Dung tích 260 L: Thích hợp cho gia đình có từ 2 đến 3 thành viên
							</li>
							<li class="mb-1">
								Xếp hạng năng lượng: 3 sao
							</li>
							<li class="mb-1">
								Bảo hành: Bảo hành 1 năm cho sản phẩm và 10 năm bảo hành cho máy nén
							</li>
							<li class="mb-1">
								Loại kệ: Kính cường lực để chịu được trọng lượng của tàu nặng nhất
							</li>
							<li class="mb-1">
								Máy nén biến tần: Tiết kiệm năng lượng, ít tiếng ồn & bền hơn
							</li>
							<li class="mb-1">
								Cũng bao gồm trong hộp: Hướng dẫn sử dụng, Thẻ bảo hành
							</li>
						</ul>
						<p class="my-sm-4 my-3">
								<i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
						</p>
					</div>
					<div class="occasion-cart">
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
							<form action="#" method="post">
								<fieldset>
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="business" value=" " />
									<input type="hidden" name="item_name" value="Double-Door Refrigerator" />
									<input type="hidden" name="amount" value="220.00" />
									<input type="hidden" name="discount_amount" value="1.00" />
									<input type="hidden" name="currency_code" value="USD" />
									<input type="hidden" name="return" value=" " />
									<input type="hidden" name="cancel_return" value=" " />
									<input type="submit" name="submit" value="Add to cart" class="button" />
								</fieldset>
							</form>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //Single Page -->

	{{>middle-section}}

    <!-- js-files -->
	{{>jquery}}
	{{>nav-smooth-scroll}}
	{{>popup-modal}}
	{{>cart-js}}
	{{>password-script}}

	<!-- imagezoom -->
	<script src="js/imagezoom.js"></script>
	<!-- //imagezoom -->

	<!-- flexslider -->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

	<script src="js/jquery.flexslider.js"></script>
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- //FlexSlider-->

	{{>smoothscroll}}
	
	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->

</body>